@font-face {
font-family: Staatliches;
src: url('../fonts/Staatliches.ttf');
}
*{
  padding: 0px;
  margin:0px;
  font-family: "Staatliches", sans-serif;
  color: white;
}

body,html{
  width: 100%;
  height: 100%;

  background-color: #2a2a2a;
}
main{
  height: 150%;
  width: 100%;
  background-image: linear-gradient(#459ec1, #459ec1, #4272bf) ;
}

#Logonav{
left: 46.5%;
top: 1px;
position: fixed;
animation-name: nav;
animation-duration: 0.8s;
animation-iteration-count: 1;
}

#imgLogonav{
height: 75px;
width: 75px;

}

#redesSociais li{
  list-style: none;
  display: inline-block;
}

@keyframes nav{
  0%{
    transform: rotateY(0deg);
  }
  100%{
    transform: rotateY(360deg);
  }
}

#insiraLogo{

  height: 27%;
  width: 18%;
  position: absolute;
  top: 84px;
  left: 453px;
  opacity: 0;

}

#insiraLogo:hover{
  opacity: 1;
  transition: 0.5s;
}

header{
  background-color: #fff3d6;
  width: 100%;
  height: 50%;

}
#log{
  width: 93%;
  height: 13%;
  background-color: rgb(255, 255, 255, 0.8);
  position:fixed;
  float: left;
  left: 4%;
  border-radius:0 0 65% 65%;
  border-bottom: 3px solid lightgrey;
  z-index: 95;

}
footer{
  height: 40%;
  width: 100%;
  background-color: #2a2a2a;
  position: relative;


}

#barraMenu{
  position: absolute;
  height: 5%;
  width: 100%;
}

#barraMenu ul a{
  color:#FEAC5E;

  list-style: none;
  text-decoration-line: none;
  padding: 35px;
border-radius: 40px;

font-size: 24px;
text-transform: uppercase;
}

#aN{
  width: 700%;
  margin-right: 10px;
  margin-left: 10px;
}
#barraMenu ul a::before{
  content: '';
  display: block;
  height: 8px;
  width: 0%;
  background-color: #FEAC5E;

  border-radius: 50px;
  position: absolute;
  top: -30px;
  transition: all ease-in-out 250ms;
}
#barraMenu ul a:hover::before{

  width: 100%;
  transition: 0.5s;
}
#barraMenu ul{
position: relative;
left: 1%;
}

#barraMenu li{
  display: inline-block;
  left: 24.2%;
  position: relative;
}

#copy{
  color: white;
  text-align: center;
  font-family: Staatliches;
  width: 30%;
  position: relative;
  left: 33.5%;
  top: -20px;
}
#Camada_1{
  top: 160px;
  position: relative;
}
#Camada_2{
  position: relative;
  top: 140px;
}
#conteudoTitulo{
  position: relative;
  top: 15px;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 30px 30px 0 0;
  margin-left: 15%;
  margin-right: 15%;
}
#conteudoTitulo1{
  color: #459EC1;
  text-align: center;
  position: relative;
  top: 10px;
}
#conteudoBox{
  position: relative;
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
  z-index: 90;
  height: 60%;
  margin-left: 8%;
  margin-right: 8%;
  border-radius: 10px;
}

#conteudo{
  position: relative;
  top: 15px;
  margin-left: 10%;
  margin-right: 10%;
}



#interfaceRodape{
  margin-left: 150px;
  position: relative;
  top: 20px;

}
#interfaceRodape li{
  position: relative;
  list-style: none;

}
#interfaceRodape a{
  font-size: 20px;
text-decoration-line: none;
}

#interfaceRodape a:hover{
  color: #fff3d6;
  transition: 0.3s;
}

#redesSociais{
  background-color: #303030;
  width: 18%;
  position: relative;
  left: 39.5%;
  top: -100px ;
  border-radius: 40px;

}
#redesSociais ul{
padding: 8px;
left: 10px;
position: relative;

}
#redesSociais ul a{
  padding: 17px;
  border: 3px solid #2a2a2a;
  border-radius: 35px;
  text-decoration-line: none;

}
.fa {
  padding: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  background-color: #2a2a2a;
}

.fa-facebook{
border-radius: 0 0 0 80%;
}

.fa-google{
  border-radius: 0 0 80% 0;
}


#redesInterno{  margin-left: 25px;}
#redesInterno .fa{
  background-color: #c7d7dd;
  font-size: 40px;
  padding: 40px 90px;
  position: relative;
margin-top: -15px;
}

#cliente::after{
  content: '';
  display: inline-block;
  width: 30%;
  height: 5px;
  border-radius: 20px;
  background-color: #459EC1;
  position: relative;
  top: -10px;
  margin-right: 10px;
}

#cliente::before{
  content: '';
  display: inline-block;
  width: 30%;
  height: 5px;
  border-radius: 20px;
  background-color: #459EC1;
  position: relative;
  top: -10px;
margin-left: -10px;

}

#cliente{
  text-align: center;
  margin-top: 60px;
  color: #459EC1;
  font-size: 2em;
}



.fa-facebook:hover, #redesInterno .fa-facebook:hover{
  background-color: #3B5998;
  transition: 0.5s;
}
.fa-twitter:hover, #redesInterno .fa-twitter:hover{
  background-color: #4BC0C8;
  transition: 0.5s;
}
.fa-instagram:hover, #redesInterno .fa-instagram:hover{
  background-color: #D0298F;
  transition: 0.5s;
}

#redesInterno .fa-google:hover{
  background-color: #BE4137;
  transition: 0.5s;
}


#imgLogin{
  height: 30px;
  width: 30px;
  position: relative;
  padding: 5px;
  left: 42px;
  top: 3px;

  background-color: transparent;
}

#LoginEditor{
  background-color: #383838;
  border-radius: 0 0 30px 30px;
  width: 9%;
  position: relative;
  top: -100px;
  left: 595px;
}

#interfaceRodape3{
  float: right;
  position: relative;
  top: -240px;
  left: -140px;
}

#imgCel{
  position: relative;
  padding-top: 10px;
  height: 60%;
  width: 60%;

}

#sliderBox{
  position: relative;
  top: -150px;
}

.slider {
  height: 500px;
  position: relative;
  overflow: hidden;
  display: flex;
          flex-flow: row nowrap;
          align-items: flex-end;
          justify-content: center;
}
.slider__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
position: relative;
top: -50px;
          appearance: none;
          backface-visibility: hidden;
}
.slider__nav:checked {
          animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}
.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  transition: left 0.4s;
  display: flex;
          flex-flow: row nowrap;
}
.slider__contents {
  height: 100%;
  padding: 2rem;
  text-align: center;
  display: flex;
          flex: 1;
          flex-flow: column nowrap;
          align-items: center;
          justify-content: center;
}
.slider__image {
  font-size: 2.7rem;
      color: #2196F3;
}
.slider img{
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 35px;
}

@keyframes check {
  0% {

  }
  100% {
    outline-color: #5E80FF;
    box-shadow: 0 0 0 0 #5E80FF, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}
